/*
* === YOUR STYLESHEET HERE ===
*/

body {
  line-height: 1.6;
  color: #3a3a3a;
}

p {
    padding-top: 5px; 
}

.full-width {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.header {
  width: 100%
  background-color: #3498db;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.footer {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
}
